* {
    font-family: 'Roboto' serif;
    padding: 0;
    margin: 0;
}


/*body*/

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}


/*main*/

main {
    display: grid;
    width: 600px;
    margin: 50px 20px 50px 20px;
    justify-content: center;
}


/*TUPC LOGO*/

img.mb4 {
    justify-self: center;
    margin-bottom: 10px;
}


/*"signup your account"*/

.create {
    width: 100%;
    font-weight: bold;
    font-size: 23px;
    color: #E2435E;
}


/*"To manage your subjects and schedule all in one place"*/

.manage {
    width: 100%;
    font-style: normal;
    font-weight: 200;
    font-size: 23px;
    color: #575757;
    margin-bottom: 40px;
}

form {
    display: grid;
    width: 100%;
}

.info {
    display: flex;
}


/*email address input box*/

input[type="email"] {
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    padding-left: 10%;
    background-color: white;
}


/*password input box*/

input[type="password"] {
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    padding-left: 10%;
    background-color: white;
}

input.form-control:focus,
select.form-control:focus {
    box-shadow: none;
    border-radius: 10px;
    background-color: white;
    padding-left: 25%;
    font-size: 23px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-floating {
    width: 50%;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    background: #e0e0e0;
    padding-left: 25%;
}

button.signup {
    width: 100%;
    height: 59px;
    background: #E2435E;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
}

.signup:hover {
    background-color: #9b0511;
}

.signup:focus {
    background: #E2435E;
}

h2.loginlabel {
    font-style: normal;
    font-weight: 200;
    font-size: 23px;
    color: #000000;
    justify-self: flex-start;
}

label {
    margin-left: 10px;
    font-size: 20px;
}

a.loginlabel {
    color: #E2435E;
    text-decoration: none;
    font-weight: normal;
    font-size: 23px;
}

.form-floating>.form-control {
    padding-left: 25%;
}

select {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    background: #e0e0e0;
    padding-left: 10%;
}


/*MEDIA QUERY*/

@media only screen and (max-width:1200px) {
    .info {
        display: grid;
    }
    .form-floating {
        width: 100%;
        margin-bottom: 10px;
    }
    h2.loginlabel {
        justify-self: center;
    }
}