* {
    font-family: 'Roboto' serif;
    padding: 0;
    margin: 0;
}


/*body*/

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}


/*form*/

form {
    display: grid;
    width: 500px;
    margin: 50px 20px 50px 20px;
}


/*TUPC LOGO*/

form img.mb4 {
    justify-self: center;
    margin-bottom: 10px;
}


/*"login your account"*/

.loglabel {
    width: 100%;
    font-weight: bold;
    font-size: 23px;
    color: #E2435E;
}


/*"To manage your subjects and schedule all in one place"*/

.manage {
    width: 100%;
    font-style: normal;
    font-weight: 200;
    font-size: 23px;
    color: #575757;
    margin-bottom: 20px;
}


/*button*/

button.login {
    width: 100%;
    height: 59px;
    background: #E2435E;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}


/*hover ng button */

.login:hover {
    background-color: #9b0511;
}

.login:focus {
    background: #E2435E;
}


/*Don't have an account? SIGN UP here.*/

h2.signuplabel {
    font-style: normal;
    font-weight: 200;
    font-size: 23px;
    color: #000000;
    justify-self: flex-start;
}


/*sigunp label yung red sa baba*/

a.signuplabel {
    color: #E2435E;
    text-decoration: none;
    font-weight: normal;
    font-size: 23px;
}


/*email at password*/

.form-control {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    border: 1px solid #CED4DA;
    font-weight: 300;
    font-size: 18px;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.ematpass {
    display: grid;
    row-gap: 10px;
}