* {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    margin-right: 20px;
    color: black;
}

a {
    color: black;
}

a:focus {
    font-weight: bold;
}

#tupcnav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 40px;
    padding-right: 40px;
}

#tupcnav img {
    margin-right: 15px;
}

#tupcnav img:hover {
    margin-right: 15px;
}

#tupcnav .navbar-brand {
    font-weight: bold;
    font-size: 15px;
}

#logoutbutton {
    background-color: black;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

#logoutbutton:hover {
    border: 1px solid black;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: white;
}

#request {
    font-weight: bold;
}


/*SECTION*/

section {
    min-height: 80vh;
    width: 100%;
    padding: 20px 40px 20px 40px
}

.welcome {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.reqapproval {
    width: 100%;
    display: grid;
    margin-top: 10px;
    margin-bottom: 30px;
}

.reqapproval p {
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.btn-group-vertical {
    width: 100%;
}

.btn-group-vertical a {
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px black;
}

.btn-group-vertical a:hover {
    background-color: black;
    color: white;
    border: solid 1px black;
}

.modal-footer {
    justify-content: space-evenly;
}

.approveone {
    background-color: black;
    color: white;
    width: 200px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.approveall {
    background-color: white;
    color: black;
    width: 200px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

@media only screen and (max-width:1000px) {
    #atech {
        display: none;
    }
    #tupcnav {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (min-width:1000px) {
    #navbarToggleExternalContent {
        display: flex;
        justify-content: flex-end;
    }
}